extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Zach Smith

        //- Feel free personalize the title below
        p.lead.text-light
          | Future Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Hello! Thank you for viewing my project portfolio. My name is Zach and as you can see, I've made the decision to become a web developer. Despite not having a tech background, I have a diverse skillset thanks to my previous professional career.. 
            | My experience as a leader in both the US Army and private sector taught me how to problem solve, which is unquestionably crucial for any developer. I firmly believe my ability to solve complex problems will benefit your company.
            | In addition to being a leader, I've also been a strong proponent of peer collaboration and teamwork. Web development in 2020 is a team sport, and I'm certain I can be a key contributor to any project.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li JavaScript
          li HTML
          li CSS
          li Node.js 
          li DOM Manipulation
          li Project Management
          li Leadership
          li Microsoft Office
          li Russian (Intermediate)
        h6 Contact Info

        //- Add your own contact info
        ul
          li rysskismith@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/zach-smith-99541489/') LinkedIn
        a.button.expanded(href='https://github.com/zsmith-dfw/') GitHub

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  