extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 Zach Smith's Portfolio

      p.lead.text-light
        | This portfolio showcases all of my previously created projects on treehouse.
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project in projects  
        a.cell(href=`/projects/${project.id}`)
          img.thumbnail(src=`${project.image_url[0]}`)
          h5= project.project_name


      



      




      
